/* main {
  min-height: 100vh;
  margin: 0 0;
  padding: 2rem;
} */
.App {
  text-align: center;
}
.background {
  background-image: url(./components/images/pen-pages-vintage-quill-wallpaper-preview.jpg);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -2;
  background-size: cover;
  background-position: top;
}
main h1 {
  font-family: "Anton", sans-serif;
}
